---
layout: page
# All the Categories of posts
---

{% include lang.html %}

{% assign HEAD_PREFIX = 'h_' %}
{% assign LIST_PREFIX = 'l_' %}

{% assign group_index = 0 %}

{% assign category_tree = {} %}

{% for post in site.posts %}
{% assign cat0 = post.categories[0] %}
{% assign cat1 = post.categories[1] %}

{% if category_tree[cat0] == nil %}
{% assign category_tree = category_tree | merge: { cat0: [] } %}
{% endif %}

{% if cat1 and category_tree[cat0] contains cat1 == false %}
{% assign updated = category_tree[cat0] | push: cat1 %}
{% assign category_tree = category_tree | merge: { cat0: updated } %}
{% endif %}
{% endfor %}

{% assign group_index = 0 %}
{% for top_cat in category_tree %}
{% assign sub_cats = top_cat[1] %}
{% assign sub_categories_size = sub_cats | size %}

<div class="card categories">
  <!-- top-category -->
  <div id="h_{{ group_index }}" class="card-header d-flex justify-content-between hide-border-bottom">
    <span class="ms-2">
      <i class="far fa-folder{% if sub_categories_size > 0 %}-open{% endif %} fa-fw"></i>

      {% capture _category_url %}/categories/{{ top_cat[0] | slugify | url_encode }}/{% endcapture %}
      <a href="{{ _category_url | relative_url }}" class="mx-2">{{ top_cat[0] }}</a>

      <span class="text-muted small font-weight-light">
        {% if sub_categories_size > 0 %}
        {{ sub_categories_size }}
        {{
        sub_categories_size > 1
        | default: site.data.locales[lang].categories.category_measure.plural
        | default: site.data.locales[lang].categories.category_measure
        }},
        {% endif %}

        {{ site.categories[top_cat[0]] | size }}

        {{
        site.categories[top_cat[0]] | size > 1
        | default: site.data.locales[lang].categories.post_measure.plural
        | default: site.data.locales[lang].categories.post_measure
        }}
      </span>
    </span>

    {% if sub_categories_size > 0 %}
    <a href="#l_{{ group_index }}" data-bs-toggle="collapse" aria-expanded="true"
      aria-label="h_{{ group_index }}-trigger" class="category-trigger hide-border-bottom">
      <i class="fas fa-fw fa-angle-down"></i>
    </a>
    {% else %}
    <span data-bs-toggle="collapse" class="category-trigger hide-border-bottom disabled">
      <i class="fas fa-fw fa-angle-right"></i>
    </span>
    {% endif %}
  </div>

  {% if sub_categories_size > 0 %}
  <div id="l_{{ group_index }}" class="collapse show" aria-expanded="true">
    <ul class="list-group">
      {% for sub_cat in sub_cats %}
      <li class="list-group-item">
        <i class="far fa-folder fa-fw"></i>

        {% capture _sub_ctg_url %}/categories/{{ sub_cat | slugify | url_encode }}/{% endcapture %}
        <a href="{{ _sub_ctg_url | relative_url }}" class="mx-2">{{ sub_cat }}</a>

        <span class="text-muted small font-weight-light">
          {{ site.categories[sub_cat] | size }}
          {{
          site.categories[sub_cat] | size > 1
          | default: site.data.locales[lang].categories.post_measure.plural
          | default: site.data.locales[lang].categories.post_measure
          }}
        </span>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>

{% assign group_index = group_index | plus: 1 %}
{% endfor %}